   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">RAIT Calendar</h1>
      <p>This is the RAIT- Calendar where in all the scheduled events are displayed. In this calendar, we can search the events using several filters of college branches and committees. For example, if one selects Information Technology Branch, only the events of that particular branch would be displayed.This calendar would display the events on the side and a calendar with highlighted events on the other side.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>


    <hr>

  </div> <!-- /container -->

</main>